{% load static %} 
<section id="api_detection">
    <div class="border-2 border-[#f4f4f4] rounded-md mt-0">
        <div class="p-[26px] border-b-2 border-[#f4f4f4]">
            <h5 class="font-bold text-xl">Documentation de l'API de Détection de Langue</h5>
        </div>
        <div class="p-[26px] overflow-x-auto w-full">
            <div style="padding: 10px; border-radius: 5px;">
<p style="color: #0AA195;">Utilisation</p>
<p style="color: #0AA195;">Endpoint de détection de langue</p>
<p style="color: #0AA195;">URL : https://www.esacode.org/api/detect</p>
<p style="color: #0AA195;">Méthode : POST</p>
<p style="color: #0AA195;">Headers : Content-Type: application/json</p>
<p style="color: #0AA195;">Corps de la requête :</p>
<pre>
{
"message": "Hello everyone and welcome to the ESACODE website. "
}
</pre>
<p style="color: #0AA195;">Réponse réussie :</p>
<pre>
{
"status": "success",
"language": "en",
"language_name": "English"
}
</pre>
            </div>
            <!-- Add more content here -->
        </div>
    </div>
</section>