{% load static %} 
<section id="api_intro">
    <div class="border-2 border-[#f4f4f4] rounded-md mt-0">
        <div class="p-[26px] border-b-2 border-[#f4f4f4]">
            <h5 class="font-bold text-xl">Bienvenue sur la Documentation de nos APIs</h5>
        </div>
        <div class="p-[26px] overflow-x-auto w-full">

<p style="color: #0AA195;">Bienvenue sur la documentation de nos APIs. Cette documentation regroupe toutes les informations nécessaires pour intégrer facilement nos services dans vos applications.</p>
<p style="color: #0AA195;">Consultez chaque API individuellement pour obtenir des instructions détaillées sur son utilisation, ses endpoints disponibles, ainsi que la gestion des erreurs.</p>
<p style="color: #0AA195;">Nous vous encourageons à explorer nos APIs et à profiter pleinement de leurs fonctionnalités pour enrichir vos projets.</p>

        </div>
    </div>
</section>