{% load static %} 

<div class="border-2 border-[#f4f4f4] rounded-md mt-0">
    <div class="p-[26px] border-b-2 border-[#f4f4f4]">
        <h5 class="font-bold text-xl">Documentation</h5>
    </div>
    <nav class="p-[26px]">
        <ul class="space-y-2.5 doc-nav">
            <li class="intro active"><a href="#api_intro">Introduction</a></li>
            
            <!-- Add your API documentation links here -->
            <li class="api"><a href="#api_detection">Documentation détection de langue</a></li>
            <li class="api"><a href="#api_translation">Documentation traduction de texte</a></li>
            <li class="api"><a href="#api_languages">Codes des Langues Supportées</a></li>
            <li class="api"><a href="#api_errors">Gestion des Erreurs de l'API</a></li>
            <!-- End of API documentation links -->
            
        </ul>
    </nav>
</div>