{% extends 'auth_base.html' %}
{% load static %} 

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
     <!-- Start Forgot Your Password? -->
     <div class="grid grid-cols-1 mt-16">
        <div class="max-w-[450px] mx-auto py-10 px-8 rounded-xl bg-white w-full">
            <h4 class="font-bold text-2xl mb-2 text-center capitalize">Mot de passe oublié ?</h4>
            <p class="text-muted text-center">Changez votre mot de passe en trois étapes simples. Cela aide à sécuriser votre nouveau mot de passe.</p>
            <form class="mt-6 space-y-4">
                <div>
                    <label class="font-bold">Adresse e-mail</label>
                    <input type="text" class="form-input mt-2 rounded !bg-white border border-[#ced4da] text-base focus:border-custom" placeholder="Adresse e-mail">
                </div>
                <div>
                    <button type="submit" class="btn-custom w-full">Obtenir un nouveau mot de passe</button>
                </div>
            </form>
        </div>
        <div class="text-center mt-6">
            <p><small class="text-white mr-2">Vous avez déjà un compte ?</small> <a href="{% url 'front:login' %}" class="text-white font-bold">Connectez-vous</a></p>
        </div>
    </div>
    
    <!-- End Forgot Your Password? -->
{% endblock %}
