{% extends 'base.html' %}
{% load static %} 

{% block title %}esacode, votre solution entreprise globale et sur-mesure{% endblock %}
{% block header %}Esacode, votre partenaire incontournable dans la transformation numérique, propose une gamme complète de services pour accompagner aussi bien les entreprises que les particuliers.{% endblock %}

{% block meta_description %}
Votre croissance avec esacode. Nous créons votre solution entreprise : ERP Odoo, web, mobile, design, communication, innovations sur-mesure.
{% endblock %}



{% block content %}



 <!-- Start Home -->
 <section  class="pt-[124px] pb-20 bg-cover bg-right-bottom md:bg-center  bg-white" >
    <div class="container relative">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] mt-4 items-center">
            <div class="">
                <div class="mt-6">
                    <h1 class="md:text-[46px] text-[36px] font-bold capitalize leading-[1.2]">Bienvenue chez <span class="text-custom">esacode</span></h1>
                    <p class="mt-6 text-muted tex-justify">
                        Découvrez dès maintenant la puissance de la synthèse vocale avec esacode. Nos solutions innovantes facilitent la détection de langues, la traduction multilingue, la conversion de texte en audio, le clonage de voix, et bien plus encore... Transformez votre communication dès aujourd'hui.
                    </p>
                    <div class="mt-8">
                        <a href="/#esacode_about" class="btn-custom">
                            <i class="text-white mdi mdi-chevron-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <img src="{% static '/assets/images/features/1.png' %}" alt="" class="mx-auto img-fluid d-block">
            </div>
        </div>
    </div>
</section>
<!-- End Home -->

<!-- Start Services -->
<section class="py-5 bg-white">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10"><span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>Explorez l'Expérience esacode</h2>
                <p class="text-muted mx-auto text-lg max-w-[600px] mt-6">Découvrez une communication redéfinie. Inscrivez-vous, choisissez un pack, consultez notre documentation, et intégrez facilement nos solutions.</p>
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-[30px] mt-16">
            <div class="p-4 text-center">
                <div>
                    <i class="mdi mdi-compass-outline text-white/80 text-[40px] leading-[84px] text-center w-[84px] h-[84px] inline-block bg-custom rounded-[10px]"></i>
                </div>
                <div class="mt-6">
                    <h4 class="text-2xl font-bold">Inscription Rapide</h4>
                    <p class="mt-4 text-muted">
                        Créez votre compte en quelques minutes pour explorer nos puissantes solutions.
                    </p>
                </div>
            </div>
            <div class="p-4 text-center">
                <div>
                    <i class="mdi mdi-nfc-variant text-white/80 text-[40px] leading-[84px] text-center w-[84px] h-[84px] inline-block bg-custom rounded-[10px]"></i>
                </div>
                <div class="mt-6">
                    <h4 class="text-2xl font-bold">Choix de Packs Adaptés :</h4>
                    <p class="mt-4 text-muted">
                        Optez pour une solution adaptée, du démarrage rapide à l'échelle entreprise.
                    </p>
                </div>
            </div>
            <div class="p-4 text-center">
                <div>
                    <i class="mdi mdi-google-circles-extended text-white/80 text-[40px] leading-[84px] text-center w-[84px] h-[84px] inline-block bg-custom rounded-[10px]"></i>
                </div>
                <div class="mt-6">
                    <h4 class="text-2xl font-bold">Intégration Transparente :</h4>
                    <p class="mt-4 text-muted">
                        Suivez nos guides détaillés pour une intégration aisée dans votre projet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->

<!-- Start Features -->
<section class="py-20" id="esacode_about">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10"><span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>Qui sommes-nous?</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] items-center">
            <div>
                <img src="{% static 'assets/images/esacode-logo.png' %}" alt="" class="mx-auto img-fluid d-block">
            </div>
            <div class="mt-4">
                <p class="text-muted mt-6 max-w-[500px] text-lg leading-[1.4] mb-0 justified-text">
                    <strong class="text-custom">Esacode</strong> 
                     vous propose des solutions sophistiquées pour révolutionner votre approche de la communication vocale.
                     Notre plateforme simplifie ce processus en mettant à votre disposition divers services tels que la détection de la langue, la traduction, la conversion de texte en audio, et bientôt le clonage de voix. Ces fonctionnalités sont disponibles dans plus de 40 langues, incluant 
                     <strong class="text-custom">
                        le fon , le wollof , le lingala , le baoulé ,  haoussa, le yoruba, le igbo, le français, l'anglais, le chinois, le japonais, le russe, l'espagnol, l'allemand, l'arabe, le portugais,
                     </strong> 
                     et bien d'autres encore, offrant ainsi une palette linguistique riche et diversifiée grâce à nos API conviviales.
                </p>
                
                <div class="mt-6 space-y-4">
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featuresone.png' %}" alt="" class="mx-auto inline-block w-[26px]">
                        </div>
                        <span class="inline-block ml-2 text-muted">API fluide et facile à intégrer</span>
                    </div>
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featurestwo.png' %}" alt="" class="w-[26px] inline-block mx-auto">
                        </div>
                        <span class="ml-2 text-muted">Documentation complète et code structuré</span>
                    </div>
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featuresthree.png' %}" alt="" class="w-[26px] inline-block mx-auto">
                        </div>
                        <span class="ml-2 text-muted">Support client disponible 24/7</span>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="mt-16">
            <h1 class="text-2xl   leading-[1.4] justified-text">
                    
                En plus de ces solutions, <strong class="text-custom">Esacode</strong> propose une large gamme de services adaptés à vos besoins spécifiques. Découvrez plus en détail nos offres sur notre page <a href='{% url "front:services" %}' class="text-custom font-bold">services</a>.
            </h1>

        </div>
    </div>
</section>
<!-- End Features -->


<section class="py-10" id="esacode_about">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10"><span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>Pourquoi choisir esacode pour votre solution entreprise ?</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] items-center">
            
            <div class="mt-4">
                <p class="text-muted mt-6 max-w-[500px] text-lg leading-[1.4] mb-0 justified-text">
                    Suite à l’évolution actuelle de la technologie, disposer d’une solution entreprise fiable et sur-mesure n'est plus un luxe, c'est une nécessité.
                    <strong class="text-custom"> chez Esacode</strong> , nous nous engageons à :
                </p>
                
                <div class="mt-6 space-y-4">
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featuresone.png' %}" alt="" class="mx-auto inline-block w-[26px]">
                        </div>
                        <span class="inline-block ml-2 text-muted">Comprendre vos enjeux spécifiques</span>
                    </div>
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featurestwo.png' %}" alt="" class="w-[26px] inline-block mx-auto">
                        </div>
                        <span class="ml-2 text-muted">Concevoir des solutions sur-mesure adaptées à votre secteur</span>
                    </div>
                    <div>
                        <div class="bg-custom/[0.15] inline-block h-[42px] w-[42px] leading-[42px] text-center rounded-[6px]">
                            <img src="{% static 'assets/images/featuresthree.png' %}" alt="" class="w-[26px] inline-block mx-auto">
                        </div>
                        <span class="ml-2 text-muted">Offrir des services flexibles et évolutifs pour accompagner votre croissance</span>
                    </div>
                </div>
                
            </div>
            <div>
                <img src="{% static 'assets/images/esacode-logo.png' %}" alt="" class="mx-auto img-fluid d-block">
            </div>
            
        </div>
    </div>
</section>

<section class="py-10" id="esacode_about">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10"><span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>esacode votre partenaire de confiance pour toute solution entreprise</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-[10px] items-center">
            <div class="mt-4">
                    <p class="text-muted mt-6 max-w-[800px] text-lg leading-[1.4] mb-0 justified-text mx-auto text-center">    
                    <strong class="text-custom">Esacode</strong> 
                    nous avons une conviction simple : chaque entreprise mérite des outils adaptés à son ambition. Nous ne vendons pas simplement des services, nous apportons la solution entreprise qui propulse votre activité vers ses plus hauts sommets.
                    Vous cherchez à intégrer un ERP performant, développer votre présence digitale ou créer des solutions innovantes comme la traduction multilingue ou le clonage de voix ? Nous transformons vos idées en résultats concrets.  
                </p>                
            </div>

            
        </div>
    </div>
</section>







{% include 'includes/cta.html' %}

<!-- Start Funfact & Video -->
<section class="relative pb-20 mt-5 md:mt-5 bg-light">

    <section class="relative py-4 bg-light pb-10">
            <h3 class="text-3xl font-bold text-center">
                 Nos solutions innovantes 
            </h3>
            <br>
            <h3 class="text-xl font-w-10 text-center">
                Chez esacode, nous repoussons les limites de l'innovation pour enrichir votre solution entreprise avec des technologies avancées :
            </h3>

    <section>
    
    
    <div class="container relative">
        <div class="grid grid-cols-1">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px] mt-16">
                <div>
                    <img src="{% static 'assets/images/solutions/transalte.png' %}" alt="ss" class="mx-auto block rounded">
                    
                </div>
                <div>
                    <img src="{% static 'assets/images/solutions/tts.png' %}" alt="ss" class="mx-auto block rounded">
                    
                </div>
                <div>
                    <img src="{% static 'assets/images/solutions/clone_voice.png' %}" alt="ss" class="mx-auto block rounded">
                    
                </div>
                
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-[30px] py-10">
            <div class=" max-w-[500px]">
                <h2 class="text-[35px] font-bold leading-[1.4]">Découvrez une expérience vocale raffinée et captivante.</h2>
            </div>
            <div class="md:text-right rtl:md:text-left">
                <a href='{% url "front:solutions" %}' class="btn-custom">Voir plus!</a>
            </div>
        </div>
        
        
        
    </div>
   
</section>
<!-- End Funfact & Video -->

<br></br>
<br></br>
<br></br>

<!-- Start Funfact & Video -->
<section class="relative pb-20 mt-5 md:mt-5 bg-light ">
    
    
    <div class="container relative">

        <section class="relative py-4 bg-light pb-10">
            <h3 class="text-3xl font-bold text-center">
            Services : Une solution entreprise globale
            </h3>
        <section>
       
        <div class="grid grid-cols-1">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px] mt-16">
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                            Intégration ERP Odoo 
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            La gestion simplifiée et performante
                        </p>
                        <p class="max-w-3xl mx-auto text-xs md:text-lg">
                            Centralisez et optimisez la gestion de votre entreprise avec Odoo, l’ERP modulable par excellence. Notre équipe adapte la solution à vos besoins pour une gestion efficace et agile. Bénéficiez de fonctionnalités telles que facturation, CRM, suivi de projets et gestion des stocks.
                        </p>
                    
                    </div>
                </div>
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                            DÉVELOPPEMENT WEB
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            Votre présence digitale, votre vitrine
                        </p>
                        <p class="max-w-3xl mx-auto text-base md:text-lg">
                            Votre site web est votre vitrine digitale : nous concevons des sites rapides, sécurisés, responsives et optimisés SEO. Qu’il s’agisse d’un site vitrine ou d’un e-commerce, nous créons la solution idéale pour renforcer votre visibilité en ligne.
                        </p>
                    
                    </div>
                </div>
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                            Développement Mobile 
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            Touchez vos clients partout, à tout moment
                        </p>
                        <p class="max-w-3xl mx-auto text-base md:text-lg">
                            Les applications mobiles sont essentielles pour fidéliser vos utilisateurs. Nous concevons des apps Android, iOS et hybrides, alliant performance, ergonomie et innovation pour répondre à vos besoins professionnels.
                        </p>
                    
                    </div>
                </div>
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                           Design graphique & Communication digitale 
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            Valorisez votre image
                        </p>
                        <p class="max-w-3xl mx-auto text-base md:text-lg">
                            Une identité visuelle forte renforce votre crédibilité. Chez esacode, nous créons logos, chartes graphiques, visuels et campagnes digitales percutantes pour allier esthétique et stratégie, et ainsi capter l’attention tout en bâtissant la confiance.                  
                        </p>
                    
                    </div>
                </div>
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                           Solutions sur mesure 
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            Quand l'innovation rencontre vos objectifs
                        </p>
                        <p class="max-w-3xl mx-auto text-base md:text-lg">
                            Chaque entreprise est unique, c’est pourquoi nous développons des solutions sur-mesure : applications métiers, outils internes, automatisations et intégrations complexes. Avec Esacode, c’est la solution qui s’adapte à votre entreprise, et non l’inverse.
                        </p>
                    
                    </div>
                </div>
                <div>
                    <div class="bg-black text-white py-20 px-4 text-center space-y-6" style="background-color: #0d9488  !important;">
                        <h2 class="text-2xl md:text-4xl font-bold uppercase">
                           Impression & sérigraphie 
                        </h2>
                        <p class="italic text-lg md:text-xl font-medium">
                            Faites bonne impression
                        </p>
                        <p class="max-w-3xl mx-auto text-base md:text-lg">
                            Donnez vie à votre communication physique avec des supports personnalisés : flyers, cartes de visite, kakémonos, t-shirts et objets publicitaires. Grâce à notre expertise en impression et sérigraphie, renforcez votre image de marque lors de tous vos événements.
                        </p>
                    
                    </div>
                </div>
                
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-[30px] py-10">
            
            <div class="md:text-right rtl:md:text-left">
                <a href='{% url "front:services" %}' class="btn-custom">Voir plus!</a>
            </div>
        </div>
        
        
        
    </div>
   
</section>
<!-- End Funfact & Video -->
 





{% include 'includes/clients.html' %}
{% include 'includes/faq.html' %}



{% include 'includes/cta_contact.html' %}
{% endblock %}








                    