<!-- Start Cta -->
<section class="py-10">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] bg-custom items-center px-4 py-20 rounded-[30px]">
            <div class="max-w-[450px] mt-3 mx-auto text-center md:text-left">
                <h2 class="font-bold text-white text-[32px]"> Ouvert et accessible sous discussion</h2>
                <p class="text-white mt-4">
                    Discutons ensemble pour élaborer une solution sur mesure correspondant à vos besoins spécifiques.

                </p>
            </div>
            <div class="max-w-[450px] text-center w-full md:text-right mx-auto">
                <a href='{% url "front:services" %}' target="_blank" class="btn-white font-bold mt-2"> Nos Services</a>

                <a href='{% url "front:solutions" %}' target="_blank" class="btn-white font-bold mt-2">Nos solutions en détail</a>
            </div>
        </div>
    </div>
</section>
<!-- End Cta -->