<!-- Start FAQ -->
<section class="py-20 bg-light" id="esacode_faq">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10">
                    <span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>Des questions pour nous?
                </h2>
                <p class="text-muted mx-auto text-lg max-w-[600px] mt-6">Consultez les réponses aux questions fréquemment posées ci-dessous.</p>
            </div>
        </div>
        <div class="grid grid-cols-1 mt-16">
            <div class="mx-auto w-full max-w-[650px]">
                <div class="accordion-container faq space-y-2.5">
                    <!-- Question 1 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Comment puis-je m'inscrire ou me connecter sur Esacode?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">Pour vous inscrire sur Esacode, <a href="/register" class="text-custom hover:underline">cliquez ici</a> pour accéder au formulaire d'inscription. Remplissez-le et commencez à explorer nos services de synthèse vocale. Si vous êtes déjà inscrit, <a href="/login" class="text-custom hover:underline">connectez-vous ici</a> pour accéder à votre compte et profiter de nos fonctionnalités.</p>
                        </div>
                    </div>
                    
                    <!-- Question 2 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Quelles langues sont prises en charge par la détection automatique de langue?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">Notre technologie de détection de langue prend en charge un large éventail de langues, incluant mais sans s'y limiter, le haoussa, le yoruba, le igbo, le français, l'anglais, le chinois, le japonais, le russe, l'espagnol, l'allemand, l'arabe, le portugais, le coréen, l'indonésien, l'italien, le néerlandais, le turc, le polonais, le suédois, le filipino, le malais, le roumain, l'ukrainien, le grec, le tchèque, le danois, le finnois, le bulgare, le croate, le slovaque, le tamoul, et bien d'autres encore. Consultez notre documentation pour la liste complète.</p>
                        </div>
                    </div>
                    
                    <!-- Question 3 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Comment intégrer les services Esacode dans mon application?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">Nous avons des guides détaillés dans notre documentation pour vous guider tout au long du processus d'intégration. Suivez ces instructions simples pour une intégration fluide dans votre projet.</p>
                        </div>
                    </div>
                    
                    <!-- Question 4 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Les services en API sont-ils gratuits?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">
                                Nous proposons une variété de plans, y compris des options gratuites et des plans premium, en fonction de vos besoins. Consultez notre page de tarification pour plus de détails.
                            </p>
                        </div>
                    </div>
                    
                    <!-- Question 5 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Quel support proposez-vous en cas de problème d'intégration?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">
                                Notre équipe de support est disponible 24/7 pour répondre à vos questions et vous aider en cas de problème d'intégration. Contactez-nous via notre formulaire de support en ligne.
                            </p>
                        </div>
                    </div>
                    
                    <!-- Question 6 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Quelle est l'importance des packs dans Esacode?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">
                                Les packs dans Esacode sont importants car ils offrent des fonctionnalités variées et adaptées aux besoins spécifiques de nos utilisateurs. Chaque pack est conçu pour répondre à des exigences particulières en matière de synthèse vocale et d'intégration API, garantissant ainsi une expérience personnalisée et optimale.
                            </p>
                        </div>
                    </div>
                    
                    <!-- Question 7 -->
                    <div class="mt-0 bg-white border-none ac">
                        <h2 class="ac-header">
                            <button type="button" class="ac-trigger !p-5 relative !flex w-full items-center justify-between gap-2 !text-lg !font-nunito !font-semibold !text-dark after:!hidden">
                                <span class="leading-[22px]">Comment choisir le pack le plus adapté à mes besoins?</span>
                                <div class="leading-[22px]">
                                    <i class="mdi mdi-plus plus text-xl font-bold leading-[0px]"></i>
                                    <i class="mdi mdi-minus minus text-xl font-bold leading-[0px]"></i>
                                </div>
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text !p-[26px] !pt-[6px] !font-nunito !text-[15px] !font-normal !leading-[22px] !text-muted justified-text">
                                Pour choisir le pack le plus adapté à vos besoins, évaluez d'abord vos exigences en termes de caractéristiques, de volume d'utilisation et de budget. Consultez ensuite nos différents packs et leurs fonctionnalités pour déterminer celui qui répond le mieux à vos attentes. Si vous avez besoin d'aide pour choisir, n'hésitez pas à contacter notre équipe de support.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ -->
