<!-- Start Packs -->
<section class="py-20">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h2 class="font-bold text-[32px] md:text-[40px] capitalize mb-2 relative z-10"><span class="bg-[#dff1f0] h-[70px] w-[70px] inline-block absolute rounded-full -z-10 -top-[15px]"></span>Nos Packs</h2>
                <p class="text-muted mx-auto text-lg max-w-[600px] mt-6">Découvrez nos offres adaptées à vos besoins spécifiques de synthèse vocale. Choisissez parmi nos trois packs distincts pour une expérience vocale sur mesure</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-16 gap-[30px]">
            <!-- Pack Découverte -->
            <div class="py-10 px-[25px] relative">
                <div class="text-center">
                    <h6 class="leading-5 text-dark/40">Pack Découverte</h6>
                </div>
                <!-- Contenu du pack -->
                <div class="mt-10 text-center">
                    <h1 class="mb-0 text-[56px] font-semibold">$0<sub class="text-sm text-custom">/par mois</sub></h1>
                </div>
                <div class="w-full h-[1px] bg-[#efefef] my-10"></div>
                <div class="text-dark/50 px-[30px] text-center">
                    <p class="mb-0 leading-[1.5]">Idéal pour les débutants</p>
                    <p class="mb-0 text-custom">
                        Inclut la détection de langue
                    </p>
                </div>
                <div class="mt-12 text-center">
                    <a href="#!" class="btn-custom-light">Rejoindre maintenant</a>
                </div>
            </div>
            <!-- Pack Professionnel -->
            <div class="py-10 px-[25px] relative text-white overflow-hidden shadow-[0_0.75rem_6rem_rgb(56,65,74,0.3)] active bg-custom rounded mx-auto">
                <div class="bg-white py-[6px] text-center w-[200px] absolute top-[22px] -right-[62px] rotate-45">
                    <h6 class="text-xs uppercase text-custom">Populaire</h6>
                </div>
                <div class="text-center">
                    <h6 class="mb-0 text-white/80">Pack Démarrage</h6>
                </div>
                <!-- Contenu du pack -->
                <div class="mt-10 text-center text-white">
                    <h1 class="mb-0 text-[56px] font-semibold">$25<sub class="text-sm">/par mois</sub></h1>
                </div>
                <div class="bg-[#efefef]/20 w-full h-[1px] my-10"></div>
                <div class="px-[30px] text-center">
                    <p class="mb-0 text-white/80">
                        Inclut la détection de langue, la traduction et la conversion de texte en audio
                    </p>
                </div>
                <div class="mt-12 text-center">
                    <a href="/contact" class="btn-white hover:-translate-y-[3px]">Rejoindre maintenant</a>
                </div>
            </div>
            <!-- Pack Entreprise -->
            <div class="py-10 px-[25px] relative">
                <div class="text-center">
                    <h6 class="leading-5 text-dark/40">Pack Créateur</h6>
                </div>
                <!-- Contenu du pack -->
                <div class="mt-10 text-center">
                    <h1 class="mb-0 text-[56px] font-semibold">$50<sub class="text-sm text-custom">/par mois</sub></h1>
                </div>
                <div class="w-full h-[1px] bg-[#efefef] my-10"></div>
                <div class="text-dark/50 px-[30px] text-center">
                    <p class="mb-0 leading-[1.5]">
                        Conçu pour les entreprises et les projets ambitieux
                    </p>
                    <p class="mb-0 text-custom">
                        Inclut la détection de langue, la traduction, la conversion de texte en audio et le clonage de voix
                    </p>
                </div>
                <div class="mt-12 text-center">
                    <a href="/contact" class="btn-custom-light">Rejoindre maintenant</a>
                </div>
            </div>
           
            
        </div>
        
    </div>
</section>
<!-- End Packs -->
